@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="AddUser">Add user example</a>
    <a asp-controller="Home" asp-action="SignalrExample">Chat example</a>

</div>